* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'BenchNine', sans-serif;
    color: rgb(11, 58, 77);
    background: linear-gradient(rgba(11, 58, 77, 0.8), rgb(13, 29, 31));
    overflow-y: scroll;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    animation: colorAnim 10s infinite;
}

@keyframes colorAnim {
    0% {
        background-color: #5e9792cc;
    }
    25% {
        background-color: #467479;
    }
    50% {
        background-color: #396583;
    }
    75% {
        background-color: #467479;
    }
    100% {
        background-color: #5e9792cc;
    }
}

.wrapper>* {
    padding: 0;
    flex: 1 100%;
}

.imagewrapper {
    width: 100%;
    background: url("fond_vert.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageSection2 {
    background: url("fond_feuilles.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    color: #467479;
}

h2 {
    color: #bfcf60;
    font-size: 3.5rem;
}

.info {
    color: #ebf3e2;
    font-size: 2.5rem;
}

.photo {
    filter: grayscale(0.2) opacity(0.7);
    image-rendering: optimizeQuality;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.6;
    transition: 0.3s;
}

.photo:hover {
    opacity: 1;
}

.logo {
    filter: opacity(0.7);
    image-rendering: optimizeQuality;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.6;
    transition: 0.3s;
}

.logo:hover {
    opacity: 1;
}

.forme {
    filter: opacity(0.7);
    image-rendering: optimizeQuality;
    width: 20%;
    margin-left: 10px;
    position: absolute;
    animation-name: animForme;
    animation-duration: 10s;
    animation-iteration-count: 3;
}

@keyframes animForme {
    0% {
        transform: rotate(0deg);
        left: 0px;
        top: 0px;
    }
    25% {
        transform: rotate(90deg);
        left: 750px;
        top: 0px;
    }
    50% {
        transform: rotate(180deg);
        left: 750px;
        top: 350px;
    }
    75% {
        transform: rotate(270deg);
        left: 0px;
        top: 350px;
    }
    100% {
        transform: rotate(360deg);
        left: 0px;
        top: 0px;
    }
}

ul {
    list-style: none;
    align-items: center;
}

.texte_petit {
    text-align: center;
    margin: auto;
    font-family: "Montserrat";
}

.navMenu {
    display: flex;
    padding: 1em;
    font-size: 1.5rem;
    flex-flow: row wrap;
    justify-content: flex-end;
    transition: .3s all;
}

.navMenu a {
    text-decoration: none;
    display: flex;
    padding: 1em;
    color: #ebf3e2;
}

.navMenu a:hover {
    display: flex;
    background: #b0f66f80;
    cursor: pointer;
    color: #0d1d1f;
    border-radius: 1rem;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

.cardsRealisations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    flex-wrap: wrap;
    margin: 10px;
    border: 1px solid #0d1d1f;
    box-shadow: 2px 2px 6px 0px #0b3a4d80;
}

.card img {
    max-width: 100%;
}

.card .text {
    padding: 0 20px 20px;
}

.button {
    align-items: stretch;
    background: #0b3a4d80;
    border: 0;
    border-radius: .3rem;
    color: #bfcf60;
    padding: .8rem;
    margin: .3rem;
    width: 5em;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #bfcf60;
    color: rgb(13, 29, 31);
}

.btn {
    background-color: #bfcf60;
    color: #0d1d1f;
}

p {
    margin: 0 auto;
    font-size: 1.3em;
    font-family: 'Raleway';
    line-height: 1.5em;
    color: #0d1d1f;
}

.text-contact {
    margin: 0 auto;
    font-size: 1.5em;
    font-family: 'Raleway';
    line-height: 1.5em;
    color: #5e8b90;
}

a {
    color: #0d1d1f;
    cursor: pointer;
    font-size: 1.2em;
}

.lien-text {
    color: #ebf3e2;
    cursor: pointer;
    font-size: 1.5em;
}

a:hover {
    color: #bfcf60;
}

.form-group {
    align-items: center;
    color: #86959b;
    font-family: "Raleway";
}

.form-control {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    color: #0d1d1f;
    border-radius: .3rem;
}

.textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #0d1d1f;
    border-radius: .3rem;
}

.footer p {
    font-size: 1.5em;
    text-align: center;
    background: linear-gradient(rgba(13, 29, 31, 0.8), rgb(11, 58, 77, 0.8));
    border: none;
    color: #234d52;
}

#id01 {
    font-family: 'Raleway';
    font-size: 1em;
    border-color: #0d1d1f;
    padding: 10px;
    color: #0d1d1f;
}

@keyframes slideDownFadeIN {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

.modal {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal:target {
    display: table;
    position: absolute;
}

.modal-dialog {
    display: table-cell;
    vertical-align: middle;
}

.modal-dialog .modal-content {
    margin: auto;
    background-color: #e2f0f3;
    position: relative;
    padding: 20px;
    outline: 0;
    border: 1px #777 solid;
    text-align: center;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: slideDownFadeIN;
    animation-duration: 0.5s;
}

.closebtn {
    text-decoration: none;
    float: right;
    font-size: 35px;
    font-weight: bold;
    color: #0d1d1f;
}

.closebtn:hover,
.closebtn:focus {
    text-decoration: none;
    float: right;
    cursor: pointer;
}

.modal-link {
    cursor: pointer;
    color: #0d1d1f;
    padding: 0.5em;
    font-size: 1.5em;
    border: 2px solid #0d1d1f;
    background-color: rgba(220, 235, 192, 0.4);
}

@media(max-width:480px) {
    .container {
        flex-direction: column;
    }
    .navMenu {
        flex-flow: column wrap;
        align-items: center;
        font-size: .5rem;
    }
    .navMenu:hover {
        color: #bfcf60;
    }
    .captcha {
        width: 75%;
    }
}

@media (max-width: 1200px) {
    .navMenu {
        float: none;
    }
}